@charset 'utf-8';
@font-face {
  font-family: "S-CoreDream-3Light";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "S-CoreDream-3Light";
}
:root {
  --point_blue: #5c96ca;
  --point_yellow: #f4bb5f;
  --point_white: #f4f4f4;
  --color_maintext: #585656;
  --color_subpage: #323232;
  --color_subtext: rgba(0, 0, 0, 0.5);
  --color_reviewtext: rgba(0, 0, 0, 0.7);
  --color_black20: rgba(0, 0, 0, 0.2);
  --color_idxtext: #1e1e1e;
  --color_footerwhite: #fff;
  --color_footerwhite80: rgba(255, 255, 255, 0.8);
  --color_footerwhite60: rgba(255, 255, 255, 0.6);
  --backgroundcolor: #fafafa;
}
body {
  background-color: var(--backgroundcolor);
}
button {
  background-color: transparent;
  border: none;
}
.top_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo img {
  padding: 0.5rem 0;
  width: 135px;
}

.btn {
  position: absolute;
  background-color: var(--point_blue);
  color: white;
  padding: 1rem 40px;
  border-radius: 20px;
  border: none;
  font-size: 24px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}
.btn:hover {
  background-color: var(--point_yellow);
}
.btn:hover::after {
  content: " \f061";
  font-family: "Font Awesome 5 Free";
}

.subtitle {
  font-size: 36px;
  color: var(--point_blue);
  width: 100%;
  border-bottom: 1px solid #58565620;
  padding-top: 100px;
  /* padding-bottom: 3rem; */
  margin-bottom: 2rem;
}
.review_box {
  background-color: white;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  border-radius: 20px;
  padding: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.stars {
  color: var(--point_yellow);
}
.slide1 {
  overflow: hidden;
  position: relative;
  padding: 2rem 0;
}
.swiper-slide {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 200ms linear;
  transform: scale(0.8);
  opacity: 0.5;
}
.swiper-slide.swiper-slide-active {
  transform: scale(1);
  opacity: 1;
}
.swiper-slide.swiper-slide-prev,
.swiper-slide.swiper-slide-next {
  opacity: 0.8;
}

.review_img {
  padding-top: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
  border-radius: 1rem;
  margin-bottom: 0.5rem;
}
.review_img > img {
  position: absolute;
  width: 100%;
  top: 0;
}
.review_box > * {
  padding-bottom: 10px;
}

.slide1 .prev1,
.slide1 .next1 {
  top: 280px;
}
.slide1 .prev1::after {
  content: "\f104";
  font-family: "Font Awesome 5 Free";
  font-size: 1rem;
  font-weight: 900;
  color: white;
}
.slide1 .next1::after {
  content: "\f054";
  font-family: "Font Awesome 5 Free";
  font-size: 1rem;
  font-weight: 900;
  color: white;
}

.slide1 .prev1 {
  left: 40%;
  right: auto;
  transform: translateX(-90%);
}
.slide1 .next1 {
  right: 40%;
  left: auto;
  transform: translateX(90%);
}
.swiper-button-prev,
.swiper-button-next {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--point_yellow);
}

@media (min-width: 961px) {
  .mw {
    max-width: 1440px;
    width: 100%;
    min-width: 851px;
    margin: auto;
  }
  .hd {
    font-size: 28px;
    background-color: white;
    width: 100%;
    position: fixed;
    z-index: 9000;
  }
  .hd a {
    color: var(--color_maintext);
  }

  .gnb {
    display: flex;
    flex-grow: 1;
    height: 100%;
    margin-left: 1rem;
  }
  .gnb a {
    height: 100%;
    position: relative;
    padding: 1rem 2rem;
    transition: 0.3s;
  }
  .gnb a::before {
    content: "";
    position: absolute;
    height: 3px;
    width: 80%;
    top: 100%;
    left: 0;
    opacity: 0;
    background-color: var(--point_yellow);
    transition: 0.3s;
    transform: translate(15%, -10px);
  }
  .gnb a:hover::before {
    opacity: 1;
    transform: translate(15%, 5px);
  }
  .func > button {
    display: inline-block;
    font-size: 20px;
    color: var(--color_maintext);
    cursor: pointer;
    padding: 1rem 0.5rem;
    transition: 0.3s;
  }
  .func > button:hover {
    color: var(--point_blue);
  }
  .ham {
    display: none;
  }

  /* section 영역 */
  .posi {
    position: relative;
    top: 150px;
  }
  /* main_banner_sec */
  .main_banner_sec {
    width: 100%;
    /* padding-top: 40%; */
    height: 640px;
    background: center / cover url("../img/main_banner.png") no-repeat;
  }
  .main_banner_sec img {
    position: absolute;
    top: 15%;
  }
  .main_banner_sec img {
    width: 270px;
  }
  .main_banner_sec p {
    position: absolute;
  }
  .main_banner_sec p:nth-of-type(1),
  .main_banner_sec p:nth-of-type(2) {
    color: var(--color_footerwhite);
    font-size: 60px;
    font-weight: 700;
  }
  .main_banner_sec p:nth-of-type(1) {
    top: 32%;
  }
  .main_banner_sec p:nth-of-type(2) {
    top: 45%;
  }
  .main_banner_sec p:nth-of-type(3),
  .main_banner_sec p:nth-of-type(4) {
    color: var(--point_white);
    font-size: 20px;
  }
  .main_banner_sec p:nth-of-type(3) {
    bottom: 10%;
  }
  .main_banner_sec p:nth-of-type(4) {
    bottom: 5%;
  }

  /* subscribe_sec */
  .subscribe_sec {
    position: relative;
  }

  .subscribe_sec img {
    padding-right: 33px;
  }
  .subtext {
    display: flex;
  }
  .subscribe_sec p:nth-of-type(1) {
    font-size: 2rem;
    color: var(--color_idxtext);
  }
  .subscribe_sec p:nth-of-type(2) {
    font-size: 20px;
    color: var(--color_maintext);
    margin-bottom: 36px;
  }
  .subscribe_sec p:nth-of-type(2) ~ p {
    font-size: 20px;
    padding: 7px;
  }

  .btn_sub {
    right: 0;
    bottom: 0;
  }
  /* market_sec */
  .market_sec p {
    font-size: 2rem;
  }
  .market_sec .btn {
    top: 250px;
  }
  .drink {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-top: 75px;
  }
  .drink > div {
    width: 20%;
    border-radius: 1rem;
    overflow: hidden;
    position: relative;
    margin-left: 1rem;
  }
  .drink img {
    width: 100%;
    position: absolute;
    bottom: 0;
  }
  .wrap_yak {
    padding-top: 18%;
  }
  .wrap_fruit {
    padding-top: 25%;
  }
  .wrap_so {
    padding-top: 20%;
  }
  .wrap_mak {
    padding-top: 24%;
  }

  .text_yak,
  .text_fruit,
  .text_so,
  .text_mak {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 2rem;
    font-weight: 700;
    padding: 10px 1rem;
    color: var(--point_white);
    text-shadow: 0 0 10px black;
  }

  /* review_sec */

  /* footer */
  .footer_wrap {
    width: 100%;
    margin-top: 100px;
    position: relative;
    background-color: #a0a0a0;
  }
  .foot {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    padding: 2rem;
    font-size: 14px;
    font-weight: 500;
  }
  .foot > li {
    margin-right: 3rem;
  }
  .foot li:nth-of-type(2) {
    color: white;
  }
  .foot li:nth-of-type(2) p {
    padding: 2px;
  }
  .foot li:nth-of-type(2) p:nth-of-type(3) {
    font-size: 20px;
  }
  .foot li:nth-of-type(2) p:nth-of-type(4) {
    font-size: 20px;
  }
  .foot li:nth-of-type(2) p:nth-of-type(5) {
    font-size: 20px;
  }

  .foot li:nth-of-type(3) p {
    font-size: 14px;
    padding-bottom: 0.5rem;
  }
  .foot li:nth-of-type(3) p:nth-of-type(1),
  .foot li:nth-of-type(3) p:nth-of-type(2) {
    color: var(--color_footerwhite80);
  }
  .foot li:nth-of-type(3) p:nth-of-type(3),
  .foot li:nth-of-type(3) p:nth-of-type(4),
  .foot li:nth-of-type(3) p:nth-of-type(5) {
    color: var(--color_footerwhite60);
  }
  .foot li:nth-of-type(3) p:nth-of-type(5) {
    text-decoration: underline;
  }
  .foot span {
    display: inline-block;
    padding-right: 1rem;
  }
  .sns {
    display: flex;
    position: absolute;
    right: 3%;
    bottom: 15%;
  }
  .insta,
  .youtube,
  .kakaotalk,
  .facebook,
  .naver {
    width: 50px;
    padding: 5px;
  }
}
@media (max-width: 960px) {
  .mw {
    max-width: calc(100% - 64px);
    margin: auto;
  }
  .gnb,
  .func {
    display: none;
  }
  .ham {
    font-size: 2rem;
    cursor: pointer;
  }
  .fa-xmark {
    display: none;
  }
  .ham.on .fa-bars {
    display: none;
  }
  .ham.on .fa-xmark {
    display: block;
  }
  .hd {
    background-color: white;
    position: relative;
  }
  .top_nav {
    display: flex;
    justify-content: space-between;
  }
  .gnb.on {
    display: flex;
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    background-color: #fff;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
    padding: 1rem 0;
    z-index: 10;
  }
  .gnb.on a {
    padding: 0.5rem 1rem;
    color: var(--color_maintext);
  }
  /* section */
  .posi {
    position: relative;
  }
  /* main_banner_sec */
  .main_banner_sec {
    width: 100%;
    height: 600px;
    background: left / cover url("../img/main_banner_mobile.png") no-repeat;
  }
  .main_banner_sec img {
    width: 140px;
    position: absolute;
    top: 10%;
  }
  .main_banner_sec p {
    position: absolute;
  }
  .main_banner_sec p:nth-of-type(1),
  .main_banner_sec p:nth-of-type(2) {
    color: var(--color_footerwhite);
    font-size: 36px;
    font-weight: 700;
  }
  .main_banner_sec p:nth-of-type(1) {
    top: 20%;
  }
  .main_banner_sec p:nth-of-type(2) {
    top: 30%;
  }
  .main_banner_sec p:nth-of-type(3),
  .main_banner_sec p:nth-of-type(4) {
    color: var(--point_white);
    font-size: 10px;
  }
  .main_banner_sec p:nth-of-type(3) {
    bottom: 10%;
  }
  .main_banner_sec p:nth-of-type(4) {
    bottom: 5%;
  }

  /* subscribe_sec */
  .subtitle {
    font-size: 36px;
    font-weight: 600;
  }
  .subtext {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .subtext img {
    width: 305px;
    border-radius: 1rem;
  }
  .btn_m {
    position: absolute;
    top: 90px;
    right: 0;
    background-color: var(--point_blue);
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    border: none;
    font-size: 24px;
    font-weight: 600;
    cursor: pointer;
  }
  .subscribe_sec p:nth-of-type(1) {
    font-size: 24px;
    color: var(--color_idxtext);
  }
  .subscribe_sec p:nth-of-type(2) {
    font-size: 12px;
    color: var(--color_maintext);
    margin-bottom: 1rem;
  }
  .subscribe_sec p:nth-of-type(2) ~ p {
    padding: 7px;
  }
  /* market_sec */
  .market_sec p {
    font-size: 24px;
    color: var(--color_idxtext);
  }
  .drink {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
  }
  .wrap_yak,
  .wrap_fruit,
  .wrap_so,
  .wrap_mak {
    position: relative;
    width: 100%;
    height: 150px;
    overflow: hidden;
    margin-bottom: 1rem;
    border-radius: 1rem;
  }
  .text_yak,
  .text_fruit,
  .text_so,
  .text_mak {
    position: absolute;
    top: 50%;
    font-size: 2rem;
    font-weight: 700;
    padding: 10px 1rem;
    color: var(--point_white);
    text-shadow: 0 0 10px black;
    transform: translateY(-50%);
  }
  .text_yak,
  .text_so {
    left: 0;
  }
  .text_fruit,
  .text_mak {
    right: 0;
  }

  .drink_yak {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .drink_fruit {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .drink_so {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .drink_mak {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /* review_sec */
  .review_box {
    margin: 1rem;
  }
  .slide1 .prev1,
  .slide1 .next1 {
    display: none;
  }

  /* footer */
  .footer_wrap {
    width: 100%;
    margin-top: 100px;
    position: relative;
    background-color: #a0a0a0;
  }
  .foot {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin-left: 1rem;
    font-size: 0.5rem;
    font-weight: 500;
  }
  .foot > li > img {
    width: 100px;
    margin-bottom: 0.5rem;
  }
  .foot li p {
    line-height: 1.7;
  }
  .foot li:nth-of-type(2) {
    color: var(--color_footerwhite);
  }
  .foot li:nth-of-type(2) p {
    padding-right: 2px;
  }
  .foot li:nth-of-type(2) p:nth-of-type(3),
  .foot li:nth-of-type(2) p:nth-of-type(4),
  .foot li:nth-of-type(2) p:nth-of-type(5) {
    font-size: 0.5rem;
    display: inline;
  }

  .foot li:nth-of-type(3) p {
    font-size: 0.5rem;
  }
  .foot li:nth-of-type(3) p:nth-of-type(1),
  .foot li:nth-of-type(3) p:nth-of-type(2) {
    color: var(--color_footerwhite80);
  }
  .foot li:nth-of-type(3) p:nth-of-type(3),
  .foot li:nth-of-type(3) p:nth-of-type(4),
  .foot li:nth-of-type(3) p:nth-of-type(5) {
    color: var(--color_footerwhite60);
    font-size: 6px;
  }
  .foot li:nth-of-type(3) p:nth-of-type(5) {
    text-decoration: underline;
  }
  .foot span {
    display: inline-block;
    padding-right: 1rem;
  }
  .sns {
    display: flex;
    position: absolute;
    right: 5%;
    top: 10%;
  }
  .insta,
  .youtube,
  .kakaotalk,
  .facebook,
  .naver {
    width: 30px;
    padding: 3px;
  }
}
